/* The semi-transparent background overlay */
.newshipment {
    position: fixed; /* Changed to fixed to cover the whole screen even if scrolling */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    display:none; /*flex*/
    justify-content: center;
    align-items: center;
    z-index: 1000;
}


/* The modal white box */
.newshipment_content {

    width: auto ;/* Fixed width looks better for forms than vw */
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    display: grid;
    gap: 10px;
    max-width: 850px;
grid-template-areas: 
"general_info_section"
"form_actions";

}

.newshipment_content h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #1e293b;
}

/* The Form Layout Grid */
.general_info_section {
    display: grid;
    grid-template-columns: 1fr  1fr; 
    gap: 10px; 
    grid-area: general_info_section;
}

/* Individual field grouping */
.form_field {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form_estatus {

    display: flex;
    flex-direction: column;
    gap: 8px;
}
.general_info_section h2{
    grid-column: 1 / 3;
}

label {
    font-size: 14px;
    font-weight: 600;
    color: #475569;
}

input , select{
    padding: 10px;
    border: 1px solid #cbd5e1;
    border-radius: 6px;
    font-size: 14px;
    width: 200px;
}

input:focus , select:focus{
    outline: 2px solid #3b82f6;
    border-color: transparent;
}

/* Button Group */
.form_actions {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    grid-area: form_actions;
}

.btn-save {
    background-color: #2563eb; /* Primary blue */
    color: white;
    border: none;
}

.btn-cancel {
    background-color: #f8d7da; /* Light red/pink like your image */
    color: #721c24;
    border: none;
}

.btn-cancel:hover{
       background-color: #db0f0f;
    color: #ffffff; 
}
.btn-cancel, .btn-save {
    padding: 10px 25px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    min-width: 120px;
}